.wishList {
  display: flex;
  flex-direction: column;
  background-color: white;

  &__head {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
  }

  &__card {
    border-top: 3px solid #a7a3a2;
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
  }

  &__image {
    width: 70px;
    margin: 10px;
  }

  &__texts {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 16px;
    }

    &-price {
      color: #6c757d;
      font-size: 13px;
    }
    &-category {
      font-size: 13px;
      color: #b5866a;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    &-button {
      margin: 15px;
      background-color: #f38507;

      &:hover {
        background-color: #d17307;
      }
    }
  }
}
