<<<<<<< HEAD
@import '../../../utils/variables';

.address-book {
  &__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 0.7);
  }
  &__title2 {
    display: flex;
    margin: 10px 4px 10px auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 577px;
    height: 312px;
    background-color: white;
    padding: 18px;
    border-radius: 4px;
    margin: 0 auto;
    @media (max-width: $mobile) {
      height: 100%;
      width: 100%;
      top: 96px;
    }
  }

  &__title {
    font-size: large;
    bottom: 71px;
    margin: 0px;
  }

  &__addresses {
    height: 245px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: scroll;
    padding: 0;
    list-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: $mobile) {
      justify-content: space-between;
      flex-direction: column;
    }
  }

  &__card {
    border-radius: 3px;
    padding: 13px;
    margin: 5px;
    background-color: white;
    font-size: 10px;
    width: 43%;
    height: 68px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    @media (max-width: $mobile) {
      width: 57%;
    }
    &--selected {
      border: 3px solid rgb(17, 24, 99) !important;
      padding: 12px !important;
    }
  }
  &__info {
    margin: 0px;
    font-family: revert;
  }
  &__delete {
    color: red;
    position: relative;
    right: -211px;
    bottom: 67px;
    font-size: small;
    cursor: pointer;
    &:hover {
      color: rgb(170, 7, 7);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: $mobile) {
    }
  }

  &__button {
    width: 200px;
  }

  &__cancel {
    color: rgb(16, 97, 197);
    font-weight: bold;
    cursor: pointer;
    margin: 0px 151px;
    @media (max-width: $mobile) {
      margin: 0px 67px;
    }
  }
}
=======
@import '../../../utils/variables';

.address-book {
  &__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 0.7);
  }
  &__title2 {
    display: flex;
    margin: 10px 4px 10px auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 577px;
    height: 312px;
    background-color: white;
    padding: 18px;
    border-radius: 4px;
    margin: 0 auto;
    @media (max-width: $mobile) {
      height: 100%;
      width: 100%;
      top: 96px;
    }
  }

  &__title {
    font-size: large;
    bottom: 71px;
    margin: 0px;
  }

  &__addresses {
    height: 245px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: scroll;
    padding: 0;
    list-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: $mobile) {
      justify-content: space-between;
      flex-direction: column;
    }
  }

  &__card {
    border-radius: 3px;
    padding: 13px;
    margin: 5px;
    background-color: white;
    font-size: 10px;
    width: 43%;
    height: 68px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    @media (max-width: $mobile) {
      width: 57%;
    }
    &--selected {
      border: 3px solid rgb(17, 24, 99) !important;
      padding: 12px !important;
    }
  }
  &__info {
    margin: 0px;
    font-family: revert;
  }
  &__delete {
    color: red;
    position: relative;
    right: -211px;
    bottom: 67px;
    font-size: small;
    cursor: pointer;
    &:hover {
      color: rgb(170, 7, 7);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: $mobile) {
    }
  }

  &__button {
    width: 200px;
  }

  &__cancel {
    color: rgb(16, 97, 197);
    font-weight: bold;
    cursor: pointer;
    margin: 0px 151px;
    @media (max-width: $mobile) {
      margin: 0px 67px;
    }
  }
}
>>>>>>> 5619e7bf89789146389df5d8377b7bc84d262d32
