@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import '../../variables';

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.products {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
  border-radius: 5px;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-size: 14px;
    width: 240px;
    height: 330px;
    text-align: center;
    @media (max-width: $tablet) {
      width: 150px;
      height: 285px;
      font-size: 11px;
    }
  }

  &__image {
    max-width: 150px;
    height: 170px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    @media (max-width: $tablet) {
      height: 150px;
    }
  }

  &__title {
    max-height: 70px;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    @media (max-width: $tablet) {
      font-size: 12px;
      max-height: 50px;
    }
  }

  &__price {
    padding: 10px;
    font-weight: 600;
    line-height: 17px;
    font-size: revert;
    background: none repeat scroll 0 0 rgb(240 240 240);
    border-radius: 120px;
    width: 100px;
    height: 13px;
    margin: 12px auto;
  }

  &__button { 
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    cursor: pointer;
    @include button-bg(#2ecc71);
  }
 
  &__wish {
    position: relative;
    font-size: large;
    color: red;
    right: -70px;
    cursor: pointer;
}

}