
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}




.products {
  margin:0px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgreen;
  border-radius: 5px;
}


.card {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 40px, 20px;
  background-color: white;
}



.product-image {
  width: 50%;
max-width: 150px;
min-height: 150px;
display: block;
object-fit: cover;
}

.product-add-button {
  color:white;
  text-decoration:none;
  padding:5px 5px;
  border-radius:3px;
  font-family: 'Poiret One', cursive;
  font-size:1.5em;
  cursor: pointer;
 }
 
 .product-add-button {
    @include button-bg(#2ecc71);
 }
 
 .wrap {
  margin:0 auto;
  width:200px;
  text-align:center;
}
  

.product-price {
  margin: 10px 0px;
  padding-bottom: 20px;
  font-size: 18px; 
  line-height: 10px;
  }
  
  