.cartItem {
  height: 98px;
  background-color: #3a3a3a;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  
    .product-cart {
      width: 20%;
    max-width: 50px;
    min-height: 50px;
    display: block;
    object-fit: cover;
    }
    .dataContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 125%;
      padding: 15px 0;
      align-items: baseline;
  
      .left {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
  
        p {
            font-weight: bold;
            font-size: 13px;
        }
  
        .buttons {
             display: flex;
             gap: 5px;
  
             button {
                 border: none;
                 cursor: pointer;
                 font-size: 12px;
                 padding: 3px 5px;
                 border-radius: 5px;
                 font-weight: bold;
                 color: #222222;
             }
        }
      }
  
      .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
  
          div {
              background-color: #FB3939;
              width: 48px;
              height: 20px;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 15px;
              font-weight: bold;
          }
  
          p {
              font-weight: bold;
          }
      }
    }
  }
  .quantity-container {
    display: flex;
  }
  .quantity-input {
    width: 18px;
    text-align: center;
  }
  .item-title {
    height: 62px;
  }
  