.previousOrders {
  display: flex;
  flex-direction: column;

  &__container {
    background: white;
    border-radius: 15px;
  }

  &__title {
    color: black;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }

  &__address {
    background-color: #e97d02;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__id {
    text-align: center;
    width: 100%;
  }
}
