.about {
    width: 96%;
    margin: 17px;
    text-align: center;
    background: #222222;
    color: white;

    &__title {
        font-weight: 50px;
        color: white;
        padding: 50px 0px 0px;
    }

    &__h2 {
        font-weight: 10px;
        text-align: left;
        margin: 100px;
    }

    &__ul {
        list-style: none;
        padding: 40px;
    }
}