@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import '../../../utils/variables';

@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($bg, 25%);
  }
}

.products {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(211 233 240);
  border-radius: 5px;

  @media (max-width: $mobile) {
    width: 330px;
    min-width: 330px;
    position: relative;
    left: 0px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-size: 14px;
    width: 240px;
    height: 330px;
    text-align: center;

    &:hover {
      box-shadow: 8px 8px 5px rgb(154, 166, 170);
    }

    @media (max-width: $tablet) {
      width: 150px;
      height: 285px;
      font-size: 11px;
    }

    @media (max-width: $mobile) {
      width: 100px;
      height: 220px;
      font-size: 9px;
    }
  }

  &__image {
    max-width: 150px;
    height: 170px;
    display: block;
    object-fit: cover;
    margin: 0 auto;

    @media (max-width: $tablet) {
      height: 150px;
    }

    @media (max-width: $mobile) {
      height: 80px;
    }
  }

  &__title {
    max-height: 70px;
    margin: 0;
    overflow: hidden;
    font-size: 16px;

    @media (max-width: $tablet) {
      font-size: 12px;
      max-height: 50px;
    }

    @media (max-width: $mobile) {
      font-size: 9px;
      max-height: 50px;
    }
  }

  &__price {
    padding: 10px;
    font-weight: 600;
    line-height: 17px;
    font-size: revert;
    background: none repeat scroll 0 0 rgb(240 240 240);
    border-radius: 120px;
    width: 100px;
    height: 13px;
    margin: 12px auto;
  }

  &__button {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    cursor: pointer;
    @include button-bg(#2ecc71);
  }

  @media (max-width: $mobile) {
    font-size: small;
  }

  &__wish {
    position: relative;
    font-size: large;
    color: red;
    right: -70px;
    cursor: pointer;
  }
}
