.productsContainer {
      max-height: 200px;
      overflow: scroll;
      margin: -19px 0px 1px 0px;
      color:white;
}

.separatorLine {
  border-top: 2px solid black;
  height: 20px;
  max-width: 186px;
  padding: 0;
  margin: 20px auto 0 auto;
}
