.formik__header {
  position: relative;
  width: 167px;
  margin: auto;
}

.bottom-form {
  position: relative;
  top: 40px;
  width: 322px;
  margin: auto;
}

.buttom-register {
  width: 322px;
  margin: auto;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Amazon Ember', Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  &:active {
    border-bottom-color: #a2a6ac;
  }

  &:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  &:focus {
    border-color: #0060e7;
    box-shadow: rgba(17, 123, 228, 0.5) 0 0 3px 2px;
    outline: 0;
  }
}
.separator-line {
  border-top: 2px solid #b0b0b0;
  padding: 0 50px 15px;
  margin: 0px auto 0 auto;
  color: #565656;
}
.sign {
  font-size: xx-large;
}
.sign-button {
  position: relative;
  background-color: #2942e7;
  border: none;
  color: white;
  padding: 8px 118px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px 0px 10px;
  width: 100%;
}
.sign-button:hover {
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 24%);
}

.button-container {
  margin-left: auto;
  margin-right: auto;
}

.form-message {
  margin: 0px, 10px;
  font-family: system-ui;
  font-size: small;
}
.login__logo {
  width: 156px;
}
