@import '../../../utils/variables';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 90px;
  justify-content: flex-end;
  padding: 0 20px;

  &__logo {
    height: 95px;
    width: 95px;
    border-radius: 100%;

    &__2 {
      width: 100%;
    }
  }

  &__option {
    padding: 0 4px;

    &__1 {
      padding: 0 14px;
    }

    &__3 {
      position: absolute;
      left: 0px;
    }
  }

  &__link {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0 10px;
    color: black;

    &:hover {
      color: rgb(26, 197, 209);
      background-color: black;
      border-radius: 4px;
    }
  }

  &__button {
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      color: rgb(26, 197, 209);
      background-color: black;
    }
  }
}
