@import '../../../utils/variables';

.orderSummary {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
  border-radius: 5px;

  &__h1 {
    text-align: center;
    color: white;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
  }

  &__list {
    overflow: auto;
  }

  &__list::-webkit-scrollbar {
    width: 3px;
  }

  &__card {
    border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    padding: 6px 6px 17px;
    margin: 7px auto;
    background-color: #222222;
    display: flex;
    flex-direction: initial;
    align-items: stretch;
    width: 100%;
    height: 160px;
    align-items: initial;

    @media (max-width: $tablet) {
      height: 149px;
      font-size: 11px;
      padding: 5px 6px 5px;
      width: auto;
    }

    @media (max-width: $mobile) {
      height: 99px;
    }
  }

  &__image {
    width: 20%;
    border-radius: 11px;
    height: 171px;

    @media (max-width: $tablet) {
      height: 150px;
    }

    @media (max-width: $mobile) {
      height: 100px;
    }
  }

  &__title {
    max-height: 122px;
    margin: 13px;
    font-size: 15px;
    color: white;
    width: 100%;

    @media (max-width: $tablet) {
      font-size: 13px;
      max-height: 66px;
      width: 60%;
    }

    @media (max-width: $mobile) {
      font-size: 10px;
      max-height: 40px;
      width: 50%;
    }
  }

  &__category {
    color: #ff0000;
    margin: 140px -22px 0px -290px;
    padding: 3px;
    font-size: 15px;
    width: 100%;
    text-transform: capitalize;

    @media (max-width: $tablet) {
      font-size: 14px;
      max-height: 50px;
      margin: 124px -179px 0px -125px;
    }

    @media (max-width: $mobile) {
      font-size: 9px;
      margin: 75px -246px 0px -26px;
    }
  }

  &__price {
    background-color: #dc2626;
    border-radius: 6px;
    color: white;
    margin: 15.5px 3px 115px 0.5px;
    padding: 2px 3px 0px 0px;
    font-weight: bold;
    font-size: 19px;

    @media (max-width: $tablet) {
      margin: 13.5px 3px 115px 0.5px;
      padding: none;
      font-size: 14px;
    }

    @media (max-width: $mobile) {
      margin: 12.5px 1px 69px 108.5px;
      font-size: 10px;
    }
  }

  &__rating {
    color: #00d8ff;
    font-weight: bold;
    font-size: 17px;
    margin: 142px -174px 0px 0px;

    @media (max-width: $tablet) {
      font-size: 14px;
      margin: 126px -167px 0 -12px;
    }

    @media (max-width: $mobile) {
      font-size: 9px;
      margin: 78px -167px 0 -12px;
    }
  }

  &__total {
    color: floralwhite;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin: auto 0 10px 0px;
  }

  &__button {
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    margin: 13.5px 3px 0 4.5px;

    @media (max-width: $tablet) {
      font-size: 14px;
      margin: 11.5px 3px 0 4.5px;
    }

    @media (max-width: $mobile) {
      font-size: 11px;
    }
  }

  &__buttonConteiner {
    display: flex;
    justify-content: center;
  }
}
