@import '../../variables';

.cartProducts {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
    border-radius: 5px;
  
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    &__card {
      border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    padding: 10px;
    margin: 7px auto;
    background-color: #829899;
    display: flex;
    flex-direction: initial;
    align-items: stretch;
    justify-content: space-between;
    font-size: 20px;
    width: 620px;
    height: 160px;
    align-items: center;
  
      @media (max-width: $tablet) {
        width: 451px;
    height: 149px;
        font-size: 11px;
      }
    }
  
    &__image {
      max-width: 150px;
      border-radius: 4px;
      height: 170px;
      display: block;
      object-fit: cover;
      margin: 0 auto;
      @media (max-width: $tablet) {
        height: 150px;
      }
    }
  
    &__title {
      max-height: 122px;
      margin: 13px;
      overflow: hidden;
      font-size: 18px;
      @media (max-width: $tablet) {
        font-size: 12px;
        max-height: 50px;
      }
    }

    &__category {
      color: #40dc26;
      margin: auto -89px 90px 35px;
      padding: 8px;
      font-weight: bold;
      font-size: large;
      line-height: 38px;
      
   
      @media (max-width: $tablet) {
        font-size: 12px;
        max-height: 50px;
      }
    }

    &__price {
      background-color: aliceblue;
      border-radius: 5px;
      color: #dc2626;
      margin: auto 0 4px 0px;
      padding: 0px;
      font-weight: bold;
      font-size: x-large;
      line-height: 45px;
    }
   
    &__rating {
      border-radius: 6px;
      color: #2646dc;
      padding: -6px;
      font-weight: bold;
      font-size: x-large;
     
      margin: 81px auto 41px 3px;
    }
    
    &__total {
      color:floralwhite;
      font-weight: bold;
      font-size: x-large;
      text-align: center;
    }

    &__button {
      border-radius: 6px;
    position: relative;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      color: #222222;
    }
    
    &__total {
      text-align: center;
    }
  }
  
  