.navbar {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;

  &__link {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0 10px;
    color: black;

    &:hover {
      color: rgb(26, 197, 209);
      background-color: black;
    }
  }
}
 