@import '../../variables';

.navbar { 
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
 
  
  

 &__option {
  display: flex;

 }
 
&__1 {
  position: relative;
    right: -30px;
}

&__2 {
  position: relative;
    right: -65px;
}
&__3 {
  position: relative;
    right: -100px;
}
  &__logo {
    height: 94%;
    width: 14%;
    position: relative;
    right: 200px;
    @media (max-width: $tablet) {
      right: 91px;
    }
  }

  &__link {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0 10px;
    color: black;

    &:hover {
      color: rgb(26, 197, 209);
      background-color: black;
      border-radius: 4px;
    }
    
  }

  &__button {
    cursor: pointer;
    border-radius: 4px;
    
    
    &:hover {
      color: rgb(26, 197, 209);
      background-color: black;
    }
  }
}
