@import './variables';

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;

  &__header {
    position: sticky;
    top: 0;

    // background: linear-gradient(to left, #ffcb2c, #ffa712, #f5820c, #a55a0d, #6b3b08, #281603, #111111);
    background: linear-gradient(to left, #00d8ff, #02c5ee, #098fbe, #1976c7, #0f4676, #071a2b, #000000);
    display: flex;
    justify-content: space-between;
  }

  &__body {
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1400px;

    @media (max-width: $tablet) {
      padding: 0;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }

    &__container {
      width: 100%;
      background-color: rgb(26, 97, 103);
      flex: 2;
    }
  }

  // &__footer {
  //   background-color: rgb(111, 202, 7);
  //   height: 100px;
  // }
}
