@import './variables';

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;

  &__header {
    position: sticky;
    top: 0;
    background: linear-gradient(to left, #00d8ff, #0f8ea6, #0d3e69, #0d3e69, #272727, #272727, #272727);
    display: flex;
    justify-content: space-between;
  }

  &__body {
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1400px;

    @media (max-width: $tablet) {
      padding: 0;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }

    &__container {
      width: 100%;
      background-color: rgb(26, 97, 103);
      flex: 2;
    }
  }

  // &__footer {
  //   background-color: rgb(111, 202, 7);
  //   height: 100px;
  // }
}
