@import '../../../utils/variables';

.order {
  width: 1223px;
  height: 1000px;
  background-color: var(--ds-background-blanket, rgba(9, 30, 66, 0.54));
  display: flex;
  align-items: center;

  &__container {
    background-color: white;
    width: 700px;
    height: 441px;
    text-align: center;
    margin: 261px;
    border-radius: 25px;
  }

  &__h1 {
    color: $secundarycolor;
    margin: 31px;
  }

  &__h2 {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #222222;
  }

  &__buttonContainer {
    margin: 60px;
  }

  &__button {
    text-decoration: none;
    cursor: pointer;
    margin: 3px 60px;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    border-color: white;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primaryColor;
      border-radius: 10rem;
      z-index: -2;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($primaryColor, 15%);
      transition: all 0.3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &:before {
        width: 100%;
      }
    }
  }
}
